{% extends 'base.html' %}

{% block nomsec %}
    
{% endblock nomsec %}

{% block nomsecmp %} Confirmación {% endblock nomsecmp %}

{% block newbtn %} {% endblock newbtn %}

{% block contenidosec %}
<!-- Main content -->
<section class="content">
    <div class="error-page">
      <h2 class="headline text-success"><i class="fas fa-thumbs-up"></i></h2>

      <div class="error-content">
        <h2><i class="fas fa-check text-success"></i> Registro guardado.</h2>
        <br>
        <p class="h4">
          El tipo de dieta fue registrado correctamente.
        </p>
        <br>
        <p>
            <a href="{% url 'catalogos:tipo_dieta_list' %}" class="btn btn-dark"><span class="fas fa-arrow-circle-right"></span> Ok, Continuar</a>            
        </p>

      </div>
    </div>
    <!-- /.error-page -->

  </section>
  <!-- /.content -->
{% endblock contenidosec %}