{% extends 'base.html' %}

{% block nomsec %} Tipo de Comensal (Dietética) {% endblock nomsec %}

{% block nomsecmp %} Tipo Comensal (Dietética) {% endblock nomsecmp %}

{% block newbtn %}
  {% if perms.catalogos.add_tipocomensal%}
  <a class="btn btn-primary" href="{% url 'catalogos:tipo_comensal_new' %}"><i class="nav-icon fas fa-plus-circle"></i> Nuevo Comensal</a> 
  {% endif %}
{% endblock newbtn %}

{% block contenidosec %}

<table id="tablelist" class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Estado</th>      
      <th>Acciones</th>            
    </tr>
    </thead>
    <tbody>
        {% for item in obj %}
        <tr>      
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>
              {% if item.habilitado %}
                <span class="label bg-success rounded p-2">Activo</span>
              {% else %}
                <span class="label bg-danger rounded p-2">Inactivo</span>
              {% endif %}
            </td>
            <td>
              {% if perms.catalogos.change_tiposervicio%}
              <a href="{% url 'catalogos:tipo_comensal_edit' item.id %}" class="btn btn-warning" style="border-radius: 50%;" title="Editar registro"><span class="fas fa-edit"></span></a>
              {% endif %}
            </td>            
        </tr>
        {% endfor %}    
    </tbody>    
  </table>
           
{% endblock contenidosec %}