{% extends 'base.html' %}

{% block nomsec %} Listado de Unidad de Medida {% endblock nomsec %}

{% block nomsecmp %} Listado Unidad Medida {% endblock nomsecmp %}

{% block newbtn %}
  {% if perms.catalogos.add_unidadmedida%}
  <a class="btn btn-primary" href="{% url 'catalogos:unidad_medida_new' %}"><i class="nav-icon fas fa-plus-circle"></i> Nueva Unidad de Medida</a> 
  {% endif %}
{% endblock newbtn %}

{% block contenidosec %}

<table id="tablelist" class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Nombre corto</th>
      <th>Estado</th>
      <th class="all">Acciones</th>
    </tr>
    </thead>
    <tbody>
        {% for item in obj %}
        <tr>      
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.nombre_corto}}</td>
            <td>
              {% if item.habilitado %}
                <span class="label bg-success rounded p-2">Activo</span>
              {% else %}
                <span class="label bg-danger rounded p-2">Inactivo</span>
              {% endif %}
            </td>
            <td>
              {% if perms.catalogos.change_unidadmedida%}
              <a href="{% url 'catalogos:unidad_medida_edit' item.id %}" class="btn btn-warning" style="border-radius: 50%;" title="Editar registro"><span class="fas fa-edit"></span></a>
              {% endif %}
            </td>                       
        </tr>
        {% endfor %}    
    </tbody>    
  </table>
           
{% endblock contenidosec %}